<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Ad</title>
<!--    <th:block th:replace="fragments/header :: main-header(false)"/>-->
</head>
<body>

<form th:action="@{/show/create}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{description}" />
    <br />
    <input type="submit" />
</form>
<!--<th:block th:replace="fragments/footer :: main-footer"/>-->
</body>
</html>
