<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div th:replace="header ::navbar"></div>

<div class="card p-3" th:each="post : ${posts}" >
<!--    <span th:text="${#authentication..getPrincibal().getPost.findById()}"></span>-->
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.description}"></p>
<!--    <p>Created by: <span th:text="${post.user.email}"></span></p>-->
    <input type="hidden" name="id" th:value="${post.id}">
    <a th:href="@{'/show/' + ${post.id} + '/edit'}" class="btn btn-warning">Edit post</a>
    <form th:action="@{'/show/' + ${post.id} + '/delete'}" method="post">
        <button class="btn btn-danger btn-block">Delete post</button>

    </form>
</div>
</body>
</html>
