<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>


<div  th:each="post : ${post}">
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.description}"></p>
    <h2>Images:</h2>
    <div th:each="image : ${post.image}">
        <h2 th:text="${image.image_title}"></h2>
        <img th:src="${image.url}">
    <input type="hidden" name="id" th:value="${post.id}">
    <a th:href="@{'/show/' + ${post.id} + '/edit'}" class="btn btn-warning">Edit post</a>-->
                <form th:action="@{'/show/' + ${post.id} + '/delete'}" method="post">
                    <button class="btn btn-danger btn-block">Delete Ad</button>

                </form>
    </div>
</div>
</body>
</html>




<!--<body>-->

<!--        <header class="jumbotron my-3">-->
<!--            <h1 class="display-3 text-center">View Post</h1>-->
<!--        </header>-->

<!--        <div class="card p-3">-->
<!--            <h1 th:text="${post.title}"></h1>-->
<!--            <p th:text="${post.description}"></p>-->
<!--            <input type="hidden" name="id" th:value="${post.id}">-->
<!--            <a th:href="@{'/show/' + ${post.id} + '/edit'}" class="btn btn-warning">Edit post</a>-->
<!--            <form th:action="@{'/show/' + ${post.id} + '/delete'}" method="post">-->
<!--                <button class="btn btn-danger btn-block">Delete Ad</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    -->
</body>

</html>